body{
  padding: 0;
  margin: 0;
  background-color: grey;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
canvas{
  background-color: white;
  display: none;
}

.videobox{
  display: block;
  position: absolute;
  right: 8px;
  top: 10px;
  border-radius: 10px;
  margin-right: 10px;
  width: 215px;
  height: 162px;
  border-bottom: 3px solid #0063FF;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 #00000030;
}

.displayRight{
  display: block;
  position: absolute;
  right: 8px;
  top: 15em;
  border-radius: 6px;
  margin-right: 10px;
  width: 215px;
  height: 162px;
  border-bottom: 6px solid darkorange;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 #00000030;
}

#gameOverScreen{
    font-size: 2em;
    display: none;
    position: absolute;
    top: 0;
    background: linear-gradient(135deg, darkred 0%,red 50%,red 50%,white 50%,grey 100%);
    color: white;
    padding: 25% 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    animation: move-in 1s;
}
#gameOverScreen h1{
  background: linear-gradient(135deg, white 0%,white 77%,black 77%, black 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#gameOverScreen h2{
  background: linear-gradient(135deg, white 0%,white 25%,black 25%, black 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


#winnerScreen{
  font-size: 2em;
  display: none;
  position: absolute;
  top: 0;
  background:linear-gradient(135deg, darkcyan 0%,darkcyan 50%,cyan 50%,white 50%,grey 100%);
  color: white;
  padding: 25% 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  animation: move-in 1s;
}

#winnerScreen h1{
  background: linear-gradient(135deg, white 0%,white 82%,black 82%, black 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#winnerScreen h2{
  background: linear-gradient(135deg, white 0%,white 36%,black 36%, black 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#startScreen #startScreenContent{
  font-size: 2em;
    display: none;
    position: absolute;
    top: 0;
    background: linear-gradient(135deg, orange 0%,orange 50%,orange 50%,white 50%,grey 100%);
    color: white;
    padding: 20% 30%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    animation: move-in 1s;
}

#startScreen #startScreenContent h2{
  background: linear-gradient(135deg, white 0%,white 82%,black 82%, black 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#startScreen #startScreenContent h3{
  background: linear-gradient(135deg, white 0%,white 46%,black 36%, black 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
} 

@keyframes move-in {
    0% {
      opacity: 0;
      transform: translate(0, -100px);
    }
    10% {
      opacity: 1;
    }
    50% {
      transform: translate(0, 30px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  /* @keyframes move-out {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 0);
    }
    100% {
      opacity: 0;
      transform: translate(0, -100px);
    }
  } */